body {
	background-color: #40E0D0;
}

header {
	color: #40E0D0;
	font-family: cursive, sans-serif, monospace;
	text-transform: uppercase;
	text-align: center;
	font-size: 50px;
}

h3 {
	color: navajowhite;
	font-size: 20px ;
	text-transform: uppercase;
}

li {
	color: floralwhite;
	font-family: cursive, sans-serif, monospace;
	margin-left: 20px;
}

p {
	color: navajowhite;
	font-size: 20px;
}
aside {
	text-align: center;
	padding: 15px;
	font-weight: bold;
}

img {
	position: absolute;
	border-radius: 75px;
	padding: 2px;
	bottom: -59px;
	right: 140px;
}

.container {
	width: 80%;
	margin: auto;
	border: 10px solid 	darkblue;	
	background-color: black;
	height: 735px;
}

.ingredients {
	position: relative;
	top: 50px;
	left: -10px;
	margin: 10px;
	border: 2px solid #40E0D0;
	box-sizing: border-box;
	width: 39.5%;
	height: 450px;
	overflow-wrap: anywhere;
	background-color: darkblue;
	padding: 2px;
}

.instructions {
	position: absolute;
	top: 100px;
	right: 140px;
	margin: auto;
	float: right;
	box-sizing: border-box;
	width: 47.5%;
	height: 500px;
	overflow-wrap: anywhere;
	border: 2px solid #40E0D0;
	background-color: darkblue;
	padding: 2px;
}

.para {
	position: absolute;
	bottom: -59px;
	left: 141px;
	box-sizing: border-box;
	width: 65%;
	height: 150px;
	overflow-wrap: anywhere;
	padding: 5px;
	border: 2px solid #40E0D0;
	background-color: darkblue;
}

a:link {
	color: darkred;
}

a:visited {
	color: darkcyan;
}

a:hover {
	color: black;
}
